@import "tailwindcss";
@import "tw-animate-css";

:root {
  --radius: 0.5rem;
  --background: hsl(210, 40%, 98%);
  --foreground: hsl(222, 47%, 11%);
  --card: hsl(0 0% 100%);
  --card-foreground: hsl(222, 47%, 11%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(222, 47%, 11%);
  --primary: hsl(42, 85%, 50%);
  --primary-foreground: hsl(222 47% 11%);
  --secondary: hsl(210 20% 83%);
  --secondary-foreground: hsl(222, 47%, 11%);
  --muted: hsl(210 20% 92%);
  --muted-foreground: hsl(215.4 16.3% 46.9%);
  --accent: hsl(42, 85%, 50%);
  --accent-foreground: hsl(222 47% 11%);
  --destructive: hsl(0 84.2% 60.2%);
  --border: hsl(214.3 31.8% 91.4%);
  --input: hsl(214.3 31.8% 91.4%);
  --ring: hsl(42, 85%, 50%);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --email: hsl(0, 0%, 83.5%);
  --animation-bg: 0 0% 98%;
}

/* @media (prefers-color-scheme: dark) {
  :root { */
.dark {
  --background: hsl(222, 46%, 11%);
  --foreground: hsl(210 40% 98%);
  --card: hsl(222, 47%, 14%);
  --card-foreground: hsl(210 40% 98%);
  --popover: hsl(222 47% 11%);
  --popover-foreground: hsl(210 40% 98%);
  --primary: hsl(42, 85%, 50%);
  --primary-foreground: hsl(222 47% 11%);
  --secondary: hsl(217 32% 17%);
  --secondary-foreground: hsl(210 40% 98%);
  --muted: hsl(217 32% 17%);
  --muted-foreground: hsl(215 20.2% 65.1%);
  --accent: hsl(42, 85%, 50%);
  --accent-foreground: hsl(222 47% 11%);
  --destructive: hsl(0 84.2% 60.2%);
  --border: hsl(217 32% 17%);
  --input: hsl(217 32% 17%);
  --ring: hsl(42, 85%, 50%);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
  --email: hsl(200, 11%, 18%);
  --animation-bg: 222 47% 11%;
}
/* } */

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  main {
    @apply bg-gradient-to-b from-gray-50 to-gray-100 dark:from-gray-900 dark:to-gray-800 min-h-[calc(100vh-80px)];
  }
}

/* QR scanner? */
main {
  min-height: calc(100vh - 80px);
}

/* Loader */
@layer components {
  .loader {
    --duration: 3s;
    --primary: hsl(42, 85%, 50%);
    --primary-light: oklch(0.828 0.189 84.429);
    --primary-rgba: hsl(42, 85%, 50%);
    width: 200px;
    height: 320px;
    position: relative;
    transform-style: preserve-3d;
  }

  @media (max-width: 480px) {
    .loader {
      zoom: 0.44;
    }
  }

  .loader:before,
  .loader:after {
    --r: 20.5deg;
    content: "";
    width: 320px;
    height: 140px;
    position: absolute;
    right: 32%;
    bottom: -11px;

    /* FIXED → tailwind theme color */
    /* @apply bg-[#f8fafc] dark:bg-[#0f1729]; */
    background-color: hsl(var(--animation-bg));

    transform: translateZ(200px) rotate(var(--r));
    animation: mask var(--duration) linear forwards infinite;
  }

  .loader:after {
    --r: -20.5deg;
    right: auto;
    left: 32%;
  }

  .loader .ground {
    position: absolute;
    left: -50px;
    bottom: -120px;
    transform-style: preserve-3d;
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
  }

  .loader .ground div {
    transform: rotateX(90deg) rotateY(0deg) translate(-48px, -120px)
      translateZ(100px) scale(0);
    width: 200px;
    height: 200px;
    background: var(--primary);
    background: linear-gradient(
      45deg,
      var(--primary) 0%,
      var(--primary) 50%,
      var(--primary-light) 50%,
      var(--primary-light) 100%
    );
    transform-style: preserve-3d;
    -webkit-animation: ground var(--duration) linear forwards infinite;
    animation: ground var(--duration) linear forwards infinite;
  }

  .loader .ground div:before,
  .loader .ground div:after {
    --rx: 90deg;
    --ry: 0deg;
    --x: 44px;
    --y: 162px;
    --z: -50px;
    content: "";
    width: 156px;
    height: 300px;
    opacity: 0;
    background: linear-gradient(var(--primary), var(--primary-rgba));
    position: absolute;
    transform: rotateX(var(--rx)) rotateY(var(--ry))
      translate(var(--x), var(--y)) translateZ(var(--z));
    -webkit-animation: ground-shine var(--duration) linear forwards infinite;
    animation: ground-shine var(--duration) linear forwards infinite;
  }

  .loader .ground div:after {
    --rx: 90deg;
    --ry: 90deg;
    --x: 0;
    --y: 177px;
    --z: 150px;
  }

  .loader .box {
    --x: 0;
    --y: 0;
    position: absolute;
    -webkit-animation: var(--duration) linear forwards infinite;
    animation: var(--duration) linear forwards infinite;
    transform: translate(var(--x), var(--y));
  }

  .loader .box div {
    background-color: var(--primary);
    width: 48px;
    height: 48px;
    position: relative;
    transform-style: preserve-3d;
    -webkit-animation: var(--duration) ease forwards infinite;
    animation: var(--duration) ease forwards infinite;
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
  }

  .loader .box div:before,
  .loader .box div:after {
    --rx: 90deg;
    --ry: 0deg;
    --z: 24px;
    --y: -24px;
    --x: 0;
    content: "";
    position: absolute;
    background-color: inherit;
    width: inherit;
    height: inherit;
    transform: rotateX(var(--rx)) rotateY(var(--ry))
      translate(var(--x), var(--y)) translateZ(var(--z));
    filter: brightness(var(--b, 1.2));
  }

  .loader .box div:after {
    --rx: 0deg;
    --ry: 90deg;
    --x: 24px;
    --y: 0;
    --b: 1.4;
  }

  .loader .box.box0 {
    --x: -220px;
    --y: -120px;
    left: 58px;
    top: 108px;
  }

  .loader .box.box1 {
    --x: -260px;
    --y: 120px;
    left: 25px;
    top: 120px;
  }

  .loader .box.box2 {
    --x: 120px;
    --y: -190px;
    left: 58px;
    top: 64px;
  }

  .loader .box.box3 {
    --x: 280px;
    --y: -40px;
    left: 91px;
    top: 120px;
  }

  .loader .box.box4 {
    --x: 60px;
    --y: 200px;
    left: 58px;
    top: 132px;
  }

  .loader .box.box5 {
    --x: -220px;
    --y: -120px;
    left: 25px;
    top: 76px;
  }

  .loader .box.box6 {
    --x: -260px;
    --y: 120px;
    left: 91px;
    top: 76px;
  }

  .loader .box.box7 {
    --x: -240px;
    --y: 200px;
    left: 58px;
    top: 87px;
  }

  .loader .box0 {
    -webkit-animation-name: box-move0;
    animation-name: box-move0;
  }

  .loader .box0 div {
    -webkit-animation-name: box-scale0;
    animation-name: box-scale0;
  }

  .loader .box1 {
    -webkit-animation-name: box-move1;
    animation-name: box-move1;
  }

  .loader .box1 div {
    -webkit-animation-name: box-scale1;
    animation-name: box-scale1;
  }

  .loader .box2 {
    -webkit-animation-name: box-move2;
    animation-name: box-move2;
  }

  .loader .box2 div {
    -webkit-animation-name: box-scale2;
    animation-name: box-scale2;
  }

  .loader .box3 {
    -webkit-animation-name: box-move3;
    animation-name: box-move3;
  }

  .loader .box3 div {
    -webkit-animation-name: box-scale3;
    animation-name: box-scale3;
  }

  .loader .box4 {
    -webkit-animation-name: box-move4;
    animation-name: box-move4;
  }

  .loader .box4 div {
    -webkit-animation-name: box-scale4;
    animation-name: box-scale4;
  }

  .loader .box5 {
    -webkit-animation-name: box-move5;
    animation-name: box-move5;
  }

  .loader .box5 div {
    -webkit-animation-name: box-scale5;
    animation-name: box-scale5;
  }

  .loader .box6 {
    -webkit-animation-name: box-move6;
    animation-name: box-move6;
  }

  .loader .box6 div {
    -webkit-animation-name: box-scale6;
    animation-name: box-scale6;
  }

  .loader .box7 {
    -webkit-animation-name: box-move7;
    animation-name: box-move7;
  }

  .loader .box7 div {
    -webkit-animation-name: box-scale7;
    animation-name: box-scale7;
  }

  @-webkit-keyframes box-move0 {
    12% {
      transform: translate(var(--x), var(--y));
    }

    25%,
    52% {
      transform: translate(0, 0);
    }

    80% {
      transform: translate(0, -32px);
    }

    90%,
    100% {
      transform: translate(0, 188px);
    }
  }

  @keyframes box-move0 {
    12% {
      transform: translate(var(--x), var(--y));
    }

    25%,
    52% {
      transform: translate(0, 0);
    }

    80% {
      transform: translate(0, -32px);
    }

    90%,
    100% {
      transform: translate(0, 188px);
    }
  }

  @-webkit-keyframes box-scale0 {
    6% {
      transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
    }

    14%,
    100% {
      transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
    }
  }

  @keyframes box-scale0 {
    6% {
      transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
    }

    14%,
    100% {
      transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
    }
  }

  @-webkit-keyframes box-move1 {
    16% {
      transform: translate(var(--x), var(--y));
    }

    29%,
    52% {
      transform: translate(0, 0);
    }

    80% {
      transform: translate(0, -32px);
    }

    90%,
    100% {
      transform: translate(0, 188px);
    }
  }

  @keyframes box-move1 {
    16% {
      transform: translate(var(--x), var(--y));
    }

    29%,
    52% {
      transform: translate(0, 0);
    }

    80% {
      transform: translate(0, -32px);
    }

    90%,
    100% {
      transform: translate(0, 188px);
    }
  }

  @-webkit-keyframes box-scale1 {
    10% {
      transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
    }

    18%,
    100% {
      transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
    }
  }

  @keyframes box-scale1 {
    10% {
      transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
    }

    18%,
    100% {
      transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
    }
  }

  @-webkit-keyframes box-move2 {
    20% {
      transform: translate(var(--x), var(--y));
    }

    33%,
    52% {
      transform: translate(0, 0);
    }

    80% {
      transform: translate(0, -32px);
    }

    90%,
    100% {
      transform: translate(0, 188px);
    }
  }

  @keyframes box-move2 {
    20% {
      transform: translate(var(--x), var(--y));
    }

    33%,
    52% {
      transform: translate(0, 0);
    }

    80% {
      transform: translate(0, -32px);
    }

    90%,
    100% {
      transform: translate(0, 188px);
    }
  }

  @-webkit-keyframes box-scale2 {
    14% {
      transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
    }

    22%,
    100% {
      transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
    }
  }

  @keyframes box-scale2 {
    14% {
      transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
    }

    22%,
    100% {
      transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
    }
  }

  @-webkit-keyframes box-move3 {
    24% {
      transform: translate(var(--x), var(--y));
    }

    37%,
    52% {
      transform: translate(0, 0);
    }

    80% {
      transform: translate(0, -32px);
    }

    90%,
    100% {
      transform: translate(0, 188px);
    }
  }

  @keyframes box-move3 {
    24% {
      transform: translate(var(--x), var(--y));
    }

    37%,
    52% {
      transform: translate(0, 0);
    }

    80% {
      transform: translate(0, -32px);
    }

    90%,
    100% {
      transform: translate(0, 188px);
    }
  }

  @-webkit-keyframes box-scale3 {
    18% {
      transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
    }

    26%,
    100% {
      transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
    }
  }

  @keyframes box-scale3 {
    18% {
      transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
    }

    26%,
    100% {
      transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
    }
  }

  @-webkit-keyframes box-move4 {
    28% {
      transform: translate(var(--x), var(--y));
    }

    41%,
    52% {
      transform: translate(0, 0);
    }

    80% {
      transform: translate(0, -32px);
    }

    90%,
    100% {
      transform: translate(0, 188px);
    }
  }

  @keyframes box-move4 {
    28% {
      transform: translate(var(--x), var(--y));
    }

    41%,
    52% {
      transform: translate(0, 0);
    }

    80% {
      transform: translate(0, -32px);
    }

    90%,
    100% {
      transform: translate(0, 188px);
    }
  }

  @-webkit-keyframes box-scale4 {
    22% {
      transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
    }

    30%,
    100% {
      transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
    }
  }

  @keyframes box-scale4 {
    22% {
      transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
    }

    30%,
    100% {
      transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
    }
  }

  @-webkit-keyframes box-move5 {
    32% {
      transform: translate(var(--x), var(--y));
    }

    45%,
    52% {
      transform: translate(0, 0);
    }

    80% {
      transform: translate(0, -32px);
    }

    90%,
    100% {
      transform: translate(0, 188px);
    }
  }

  @keyframes box-move5 {
    32% {
      transform: translate(var(--x), var(--y));
    }

    45%,
    52% {
      transform: translate(0, 0);
    }

    80% {
      transform: translate(0, -32px);
    }

    90%,
    100% {
      transform: translate(0, 188px);
    }
  }

  @-webkit-keyframes box-scale5 {
    26% {
      transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
    }

    34%,
    100% {
      transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
    }
  }

  @keyframes box-scale5 {
    26% {
      transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
    }

    34%,
    100% {
      transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
    }
  }

  @-webkit-keyframes box-move6 {
    36% {
      transform: translate(var(--x), var(--y));
    }

    49%,
    52% {
      transform: translate(0, 0);
    }

    80% {
      transform: translate(0, -32px);
    }

    90%,
    100% {
      transform: translate(0, 188px);
    }
  }

  @keyframes box-move6 {
    36% {
      transform: translate(var(--x), var(--y));
    }

    49%,
    52% {
      transform: translate(0, 0);
    }

    80% {
      transform: translate(0, -32px);
    }

    90%,
    100% {
      transform: translate(0, 188px);
    }
  }

  @-webkit-keyframes box-scale6 {
    30% {
      transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
    }

    38%,
    100% {
      transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
    }
  }

  @keyframes box-scale6 {
    30% {
      transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
    }

    38%,
    100% {
      transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
    }
  }

  @-webkit-keyframes box-move7 {
    40% {
      transform: translate(var(--x), var(--y));
    }

    53%,
    52% {
      transform: translate(0, 0);
    }

    80% {
      transform: translate(0, -32px);
    }

    90%,
    100% {
      transform: translate(0, 188px);
    }
  }

  @keyframes box-move7 {
    40% {
      transform: translate(var(--x), var(--y));
    }

    53%,
    52% {
      transform: translate(0, 0);
    }

    80% {
      transform: translate(0, -32px);
    }

    90%,
    100% {
      transform: translate(0, 188px);
    }
  }

  @-webkit-keyframes box-scale7 {
    34% {
      transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
    }

    42%,
    100% {
      transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
    }
  }

  @keyframes box-scale7 {
    34% {
      transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
    }

    42%,
    100% {
      transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
    }
  }

  @-webkit-keyframes ground {
    0%,
    65% {
      transform: rotateX(90deg) rotateY(0deg) translate(-48px, -120px)
        translateZ(100px) scale(0);
    }

    75%,
    90% {
      transform: rotateX(90deg) rotateY(0deg) translate(-48px, -120px)
        translateZ(100px) scale(1);
    }

    100% {
      transform: rotateX(90deg) rotateY(0deg) translate(-48px, -120px)
        translateZ(100px) scale(0);
    }
  }

  @keyframes ground {
    0%,
    65% {
      transform: rotateX(90deg) rotateY(0deg) translate(-48px, -120px)
        translateZ(100px) scale(0);
    }

    75%,
    90% {
      transform: rotateX(90deg) rotateY(0deg) translate(-48px, -120px)
        translateZ(100px) scale(1);
    }

    100% {
      transform: rotateX(90deg) rotateY(0deg) translate(-48px, -120px)
        translateZ(100px) scale(0);
    }
  }

  @-webkit-keyframes ground-shine {
    0%,
    70% {
      opacity: 0;
    }

    75%,
    87% {
      opacity: 0.2;
    }

    100% {
      opacity: 0;
    }
  }

  @keyframes ground-shine {
    0%,
    70% {
      opacity: 0;
    }

    75%,
    87% {
      opacity: 0.2;
    }

    100% {
      opacity: 0;
    }
  }

  @-webkit-keyframes mask {
    0%,
    65% {
      opacity: 0;
    }

    66%,
    100% {
      opacity: 1;
    }
  }

  @keyframes mask {
    0%,
    65% {
      opacity: 0;
    }

    66%,
    100% {
      opacity: 1;
    }
  }
}
